# API Configuration
VITE_API_BASE_URL=/api

# Auth0 Configuration (if using)
VITE_AUTH0_DOMAIN=dummy-auth0-domain.auth0.com
VITE_AUTH0_CLIENT_ID=dummy-auth0-client-id
VITE_AUTH0_AUDIENCE=dummy-auth0-audience

# Other environment variables
NODE_ENV=development

# Firebase Configuration
FIREBASE_API_KEY=" dummy-api-key"
FIREBASE_AUTH_DOMAIN="dummy-auth-domain.firebaseapp.com"
FIREBASE_PROJECT_ID="dummy-project-id"
FIREBASE_STORAGE_BUCKET="dummy-storage-bucket.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID="dummy-messaging-sender-id"
FIREBASE_APP_ID="1:dummy-app-id:web:dummy-web-app-id"
FIREBASE_SERVICE_ACCOUNT_JSON="{
  \"type\": \"service_account\",
  \"project_id\": \"dummy-project-id\",
  \"private_key_id\": \"dummy-private-key-id\",
  \"private_key\": \"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n\",
  \"client_email\": \"service-account@dummy-project-id.iam.gserviceaccount.com\",
  \"client_id\": \"dummy-client-id\",
  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",
  \"token_uri\": \"https://oauth2.googleapis.com/token\",
  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",
  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/service-account@dummy-project-id.iam.gserviceaccount.com\"
}"
